.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 35rem;
  min-height: 13rem;
  padding: 0;
  overflow: hidden;
  z-index: 100;
}

.alert-title {
  margin: 0;
  padding: 0.7rem;
  background-color: #4b0b55;
  color: #fff;
}

.alert-message {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 1em;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
